.tutorsThumbnail {
  flex: 1;
  margin-right: 20px;
  border-color: gainsboro;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

ul {
  padding-left: 20px;
  margin-bottom: 0px
}

text {
  font-size: 14px;
  font-weight: bold;
}

.thumbnailText {
  flex-direction: column;
}

.tutorsThumbnail2 {
  flex: 1;
  margin-left: 20px;
  border-color: gainsboro;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
}

.tutorsContainer {
  display: flex;
  flex-direction: row;
  height: 175px;
}

.mapContainer {
  margin: 40px;
}

.mapBorder {
  border-color: gainsboro;
  border-width: 1px;
  border-style: solid;
  margin: 100px 50px 50px 50px;
}
.tutorsImage {
  height: 174px;
  width: 174px;
}

